[Unit]
Description=Containment service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/home/containment/.dotnet/dotnet /home/containment/NewContainment/Backend/publish/Backend.dll
WorkingDirectory=/home/containment/NewContainment/Backend/publish

[Install]
WantedBy=multi-user.target